
<div class="sidebar" data-background-color="white" data-active-color="danger" >

    <div class="sidebar-wrapper " >
        <div class="logo" >
            <a class="simple-text text-success">
                <p>Gamma distribuidora</p>
            </a>
            <br>
            <br>

        </div>

        <div class="box">
            <ul class="nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li  class="">
                        <a href="{{ path('homepage')}}">
                            <p>Home</p>
                        </a>
                    </li>
                    <hr>
                    <li >
                        <a href="{{ path('admin_cotizador_index')}}">
                            <p>Cotizador</p>
                        </a>
                    </li>
                    <li >
                        <a href="{{ path('admin_cotizador_new')}}">
                            <p>Nuevo </p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a class="text-danger" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>


                {% endif %}

            </ul>
        </div>

    </div>
</div>

